# ==========================================
# Environment Configuration
# ==========================================

location            = "westeurope"
resource_group_name = "rg-rag-blueprint"

# MUST BE GLOBALLY UNIQUE
openai_account_name  = "oai-rag-prod-001"
search_service_name  = "srch-rag-prod-001"
search_replica_count = 3
